In [78]:
import pandas as pd
df = pd.read_csv('StudentsPerformance.csv')

In [79]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [80]:
print(df.describe())

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [81]:
print(df.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

In [82]:
print(df[df['gender'] == 'male'].shape[0])

482

In [83]:
print(df[df['gender'] == 'male'].agg(['min' , 'max']))

    gender race/ethnicity parental level of education         lunch  \
min   male        group A          associate's degree  free/reduced
max   male        group E            some high school      standard

    test preparation course  math score  reading score  writing score
min               completed          27             23             15
max                    none         100            100            100

In [84]:
print(df[df['gender'] == 'female'].shape[0])

518

In [85]:
print(df[df['gender'] == 'female'].agg(['min' , 'max']))

     gender race/ethnicity parental level of education         lunch  \
min  female        group A          associate's degree  free/reduced
max  female        group E            some high school      standard

    test preparation course  math score  reading score  writing score
min               completed           0             17             10
max                    none         100            100            100